<div class="DelDoc" id="DeleteDoc">
    <h1>Delete Document</h1>
    <form class="delForm" action="/Delete" method="post">

        <input type="text" name="ObjectId" placeholder="Enter Object Id" required>
        <button type="submit">Delete</button>
        <p><strong>Note :</strong>You can get Object Id from above in <a href="#showData">Show Data Section</a>.</p>
    </form>
</div>