
<div class="Visualize" id="Visualization">

    <h1 class="Visualize">Visualization</h1>
    <div class="navb">
      <div class="navs">
        <a class="navitems titles" type="button" id="chart1" >Arrival Delay Vs Departure Delay</a>
        <a class="navitems titles" type="button" id="chart2" >Average Aircraft Delay Value Vs Aircraft Delay Reason</a>
        <a class="navitems titles" type="button" id="chart3" >Distance Travelled By Aircraft across World in a month</a>
        <a class="navitems titles" type="button" id="chart4" >Value of Delay of each Aircraft from the Starting Point</a>
      </div>  
    </div>

    <div class="imgBlock">
      <h5 id="headImgs">Arrival Delay Vs Departure Delay</h5>
      <img src="assets/chart1.png" height="300" class="images" id="chart">
    </div>

    
</div>